@model IEnumerable<Nursing_Student_Vetting.Models.Student>

@{
    ViewData["Title"] = "Student List";
}

<h1>Student List</h1>

<p>
    <a asp-action="Update">Create New Student</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.EvaluationScore)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.StudentID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@student.StudentID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@student.StudentID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    string userMessage = TempData?["UserMessage"]?.ToString() ?? "";
}
@if (userMessage != "")
{
    <div class="text-success">@userMessage</div>
}
